.ability
  z-index: 10000

  &__name
    cursor: pointer
    text-transform: capitalize

  &__descr
    position: absolute
    top: 70%
    left: 0%

    width: 100%
    max-width: 220px
    padding: 0.8rem

    font-size: 0.9em
    background: $white-color
    border-radius: $border-radius
    box-shadow: 0px 3px 7px rgba(0,0,0,0.1)