.arrow
  position: fixed
  top: 40%

  font-size: 2em

  color: $arrow-color
  background: transparent

  border: none
  margin: 0 1rem

  user-select: none
  cursor: pointer

  transition: all 0.3s

  &--right
    right: 0