.button
  color: $main-color
  background: $button-default-color

  cursor: pointer

  padding: 0.5rem 1.5rem

  border: 2px solid transparent
  border-radius: $border-radius

  box-shadow: 0 2px 6px rgba(0,0,0,0.15)
  transition: all 0.25s

  &:hover
    transform: scale(1.05)

  &--find
    color: $white-color
    background: $search-color

  &--close
    color: $white-color
    background: $close-color

  &--switch
    color: $switch-color
    background: transparent

    box-shadow: none
    border: none

    transition: all 0.3s

    &:hover
      color: $prime-color

  &--menu
    color: inherit
    background: transparent

    font-size: 1.7em

    box-shadow: none
    border: none

    transition: all 0.3s

    &:hover
      color: $beige-color

    &-close
      color: inherit
      background: transparent

      box-shadow: none
      border: none

      transition: all 0.3s

      &:hover
        color: $beige-color
