.cards-grid
  display: grid
  grid-template-columns: repeat( 4, 1fr )

  margin: 1rem 5rem 5rem 5rem

  &__info
    grid-column: span 5
    text-align: center
    font-size: 2em
    margin-top: 6rem

  @media screen and ( max-width: 1380px  )
    grid-template-columns: repeat( 3, 1fr )

  @media screen and ( max-width: 1024px  )
    grid-template-columns: repeat( 2, 1fr )
    margin: 1rem
    
  @media screen and ( max-width: 600px  )
    grid-template-columns: repeat( 1, 1fr )



