.card
  display: flex
  flex-direction: column

  max-width: 600px
  padding: 0.5rem 1.2rem
  margin: 1rem 1.2rem

  border-radius: $border-radius
  box-shadow: $box-shadow

  &--night
    box-shadow: $dark-theme-box-shadow

  & > a 
    display: flex

  &__header
    display: flex
    justify-content: space-between
    align-items: center

  &__sprite
    margin: 0 auto 0.5rem auto
    box-shadow: none