.header
  display: flex
  justify-content: center
  align-items: center

  position: relative

  &__pokeball
    margin-left: 1rem

  &__title
    font-size: 3em
    cursor: pointer
    border-bottom: 6px dotted transparent

    transition: all 0.3s

    &_poke
      color: $prime-color

    &_dex
      color: $second-color

  &__menu-button
    position: absolute
    left: 3%

  &__go-to-search
    position: absolute
    right: 3%

    font-size: 1.5em
    color: $main-color
    cursor: pointer

    transition: all 0.25s

    &:hover
      color: $search-color
      transform: scale(1.2)
