.header
  display: flex
  justify-content: center
  align-items: center

  &__pokeball
    margin-left: 1rem

  &__title
    font-size: 3rem

    transition: all 0.3s

    border-bottom: 6px dotted transparent

    &_poke
      color: $prime-color

    &_dex
      color: $second-color