.sprite
  position: relative

  &__image
    min-height: 12.5rem
    border: 3px solid inherit
    border-radius: $border-radius
    box-shadow: $box-shadow

    &--night
      box-shadow: $dark-theme-box-shadow

  &__no-image
    display: flex
    justify-content: center
    align-items: center

    font-size: 1.6em

    height: 12.5rem
    width: 12.5rem

    border: 3px solid white
    border-radius: $border-radius
    box-shadow: $box-shadow

    &--night
      box-shadow: $dark-theme-box-shadow

  &__emoji
    margin-left: 0.3rem

  &__switch-side
    position: absolute
    transform: translate(-150%, 75%)

    cursor: pointer

    font-size: 1.2em
    color: $switch-color
    background: transparent

    transition: all 0.25s

    &:hover
      color: $prime-color
    
    &--active
      animation: rotate 0.25s ease 1

  @keyframes rotate
    from
      transform: translate(-150%, 75%) rotate(0) 
    to
      transform: translate(-150%, 75%) rotate(360deg) 